.App {
   padding: 100px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

/* .header{
  color: aliceblue;
  background-color: blue;
  height: 50px;
  align-items: center;
  display: flex;
}

.prod-list-item{
  background-color: rgb(14, 73, 53);
  color: bisque;
} */